@model IEnumerable<Oleksandr_Lut_zal.Models.ShoppingPositionList>

<h1>Shopping Lists</h1>
<a href="/ShopingPositions/Create" class="btn btn-success">Add Shopping Position</a>

@foreach (var list in Model)
{
    <h2>@list.listTitle</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => list.ShopingPosition.FirstOrDefault().description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => list.ShopingPosition.FirstOrDefault().isDrawOut)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in list.ShopingPosition)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isDrawOut)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}